<div ng-controller="activityTypeController">
    <br>
    <br>
    <h2>Aktivitetstyper</h2>
    <a class="btn" href="#/createActivity">
        <span>L&auml;gg till aktivitetstyp</span>
        <i class="glyphicon glyphicon-plus"></i>
    </a>
    <em ng-show="activityTypes.length == 0">Inga aktivitetstyper registrerade.</em>
    <table ng-hide="activityTypes.length == 0"
           class="table table-striped override-bootstrap">
        <thead>
        <tr>
            <th>Kod</th>
            <th>Beskrivning</th>
        </tr>
        </thead>
        <tr ng-repeat="activityType in activityTypes">
            <td>{{activityType.code}}</td>
            <td>{{activityType.description}}</td>
            <td><a class="btn-link" ng-click="editActivityType(activityType.id)">Redigera <i class="glyphicon glyphicon-pencil"></i></a></td>
        </tr>
    </table>
</div>