<div>
    <br>
    <br>
    <h2>Omr&aring;den</h2>
    <a class="btn" href="#/createArea">
    	<span>L&auml;gg till omr&aring;de</span>
        <i class="glyphicon glyphicon-plus"></i>
    </a>
    <em ng-show="areas.length == 0">Inga omr&aring;den registrerade.</em>
    <table ng-hide="areas.length == 0"
           class="table table-striped override-bootstrap">
        <thead>
        <tr>
            <th>Namn</th>
            <th>Kod</th>
            <th>Status</th>
        </tr>
        </thead>
        <tr ng-repeat="area in areas">
            <td>{{area.name}}</td>
            <td>{{area.code}}</td>
            <td ng-show="area.isActive">Aktiv</td>
            <td ng-show="!area.isActive">Inaktiv</td>
            <td><a class="btn-link" ng-click="editArea(area.id)">Redigera <i class="glyphicon glyphicon-pencil"></i></a></td>
        </tr>
    </table>
</div>