<div ng-controller="categoryTypeController">
    <br>
    <br>
    <h2>Kategorityper</h2>
    <a class="btn" href="#/createCategory">
        <span>L&auml;gg till kategorityp</span>
        <i class="glyphicon glyphicon-plus"></i>
    </a>
    <em ng-show="categoryTypes.length == 0">Inga kategorityper registrerade.</em>
    <table ng-hide="categoryTypes.length == 0"
           class="table table-striped override-bootstrap">
        <thead>
        <tr>
            <th>Kod</th>
            <th>Beskrivning</th>
        </tr>
        </thead>
        <tr ng-repeat="categoryType in categoryTypes">
            <td>{{categoryType.code}}</td>
            <td>{{categoryType.description}}</td>
            <td><a class="btn-link" ng-click="editCategoryType(categoryType.id)">Redigera <i class="glyphicon glyphicon-pencil"></i></a></td>
        </tr>
    </table>
</div>