<form ng-submit="saveArea()">
	<div>&nbsp;</div>
	<div>&nbsp;</div>
    <h2>{{title}}</h2>
    <div class="modal-body">
        <div class="block">
            <label>Namn:</label>
            <input type="text" required ng-model="entity.name" />
        </div>
        <div class="block">
            <label>Kod:</label>
            <input type="number" required ng-model="entity.code" />
        </div>
        <div class="block">
            <label>Status:</label>
            <input type="checkbox" ng-model="entity.isActive"
           		ng-checked="entity.isActive == 1"/>
        </div>
        
        
    </div>
    <input type="button" class="btn" value="Avbryt" ng-click="abortAreaCreation()" />
    <input type="submit" class="btn btn-primary" value="Spara" />
    <div class="error" ng-show="errorMessage !==''">
        {{errorMessage}}
    </div>       
</form>