<form ng-submit="saveSummary()">   
	<div>&nbsp;</div>
	<div>&nbsp;</div>
    <h2>{{title}}</h2>
        <div class="block">
        	<label>Datum:</label>
        </div>
        <div class="block">
            <input
                  disabled
                                type="text" 
                                datepicker-popup="{{from.format}}"
                                ng-model="entity.inspectionDate"
                                is-open="from.opened"
                                min="from.minDate" max="from.maxDate"
                                datepicker-options="from.dateOptions"
                                date-disabled="from.disabled(date, mode)"
                                ng-required="true"
                                close-text="{{ from.closeText }}" />
                                <button class="btn btn-default" ng-click="from.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </div>
        <div class="block">
            <label>Restid:</label>
        </div>
        <div class="block">
            <select ng-model="selectedTravelHour" ng-options="h.value for h in hours"></select>
            <select ng-model="selectedTravelMinute" ng-options="m.value for m in minutes"></select>
        </div>
        <div class="block">
            <label>Start:</label>
        </div>
        <div class="block">
        	<select ng-model="selectedStartHour" ng-options="h.value for h in hours"></select>
            <select ng-model="selectedStartMinute" ng-options="m.value for m in minutes"></select>
        </div>
        <div class="block">
            <label>Stop:</label>
        </div>
        <div class="block">
            <select ng-model="selectedStopHour" ng-options="h.value for h in hours"></select>
            <select ng-model="selectedStopMinute" ng-options="m.value for m in stopMinutes"></select>
        </div>
        <div class="block">
            <label>Omr&aring;de:</label>
            <!-- <select ng-model="selectedArea" ng-disabled="{{isStartOrStop}}" ng-options="ca.value for ca in composedAreas"></select>  -->
        </div>
        <div class="block">
            <angucomplete-alt id="ex6" placeholder="Kod/Adress" pause="300" selected-object="selectedArea" local-data="areas" search-fields="code,name" id="id" title-field="code,name" minlength="1" input-class="form-control form-control-small" match-class="highlight" /> 
        </div>
        <div ng-cloak class="block">       	
        	Utvald omr&aring;de: {{!isStartOrStop ? selectedArea.originalObject.name : '-'}} {{!isStartOrStop ? selectedArea.originalObject.code : ''}}
        </div>
        <div class="block">
            <label>Vakt:</label>
        </div>
        <div class="block">
            <select ng-model="selectedUser" ng-options="cu.value for cu in composedUsers"></select>
        </div>
        <div class="block">
            <label>K:</label>
        </div>
        <div class="block">
            <input type="number" ng-disabled="{{!isInspection}}" ng-model="entity.fined" />
        </div>
        <div class="block">
            <label>V:</label>
        </div>
        <div class="block">
            <input type="number" ng-disabled="{{!isInspection}}" ng-model="entity.warnings" />
        </div>
        <div class="block">
            <label>M:</label>
        </div>
        <div class="block">
            <input type="number" ng-disabled="{{!isInspection}}" ng-model="entity.obliterated" />
        </div>
        <div class="block">
            <label>Aktivitetstyp:</label>
        </div>
        <div class="block">
        	<select ng-model="selectedActivity" ng-options="a.description for a in activitytypes" ng-change="updateActivityType()"></select>
        </div>
         <div class="block">
            <label>Kategorityp:</label>                        
        </div>
        <div class="block">
        	<select ng-model="selectedCategory" ng-disabled="{{isStartOrStop}}" ng-options="c.description for c in categorytypes"></select>
        </div>        
        <input type="button" class="btn" value="Avbryt" ng-click="abortReportCreation()" />
        <input type="submit" class="btn btn-primary" ng-disabled="((loadedAreas === false || selectedArea.originalObject==='' || selectedArea.originalObject===undefined) && (isStartOrStop === false))" value="Spara" />
        <div class="error" ng-show="errorMessage !==''">
        	<div ng-repeat="error in errorMessage">
        		<div>{{error}}</div>
        	</div>
    	</div>
</form>