<form ng-submit="saveReport()">    
    <div class="modal-header">
        <h2>Registrera ny &ouml;vervakning</h2>
    </div>	
    <div class="modal-body">
    	<div class="block">
            <label>Datum:</label>            
            <input type="text" ng-model="entity.inspectionDate" id="dp1" data-date-format="dd/mm/yyyy" size="16" class="datepicker">         	
        </div>
        <div class="block">
            <label>Restid:</label>
            <select ng-model="selectedTravelHour" ng-options="h.value for h in hours"></select>
            <select ng-model="selectedTravelMinute" ng-options="m.value for m in minutes"></select>
        </div>
        <div class="block">
            <label>Start</label>
            <select ng-model="selectedStartHour" ng-options="h.value for h in hours"></select>
            <select ng-model="selectedStartMinute" ng-options="m.value for m in minutes"></select>
        </div>
        <div class="block">
            <label>Stop</label>
            <select ng-model="selectedStopHour" ng-options="h.value for h in hours"></select>
            <select ng-model="selectedStopMinute" ng-options="m.value for m in minutes"></select>
        </div>
        <div class="block">
            <label>Omr&aring;de:</label>
            <!--<input type="text" ng-model="entity.area" />-->
            <!--<auto-complete ui-items="testareas"></auto-complete>-->
            <input auto-complete ui-items="testareas" ng-model="entity.area" />
            <!--<input type="text" ng-model="entity.area" ng-autocomplete="result1" options="areas"/>-->
        </div>
        <div class="block">
            <label>K:</label>
            <input type="number" ng-model="entity.control" />
        </div>
        <div class="block">
            <label>V:</label>
            <input type="number" ng-model="entity.warnings" />
        </div>
        <div class="block">
            <label>M:</label>
            <input type="number" ng-model="entity.obliterated" />
        </div>
	</div>
    <div class="modal-footer">
        <input type="button" class="btn" value="Avbryt" ng-click="abortReportCreation()" />
        <input type="submit" class="btn btn-primary" value="Spara" />
    </div>
</form>