<form ng-submit="login()">
	<div>&nbsp;</div>
	<div>&nbsp;</div>
    <h2>Login</h2>
    <input required type="text" placeholder="Nummer" ng-model="usercode"> <br/>
    <input required type="password" placeholder="L&ouml;senord" ng-model="password"> <br/>
    <input class="btn btn-primary" type="submit" value="Logga in" />
    <!-- <input class="btn" type="button" value="Set user" ng-click="setUser()" />  -->
    <div class="error" ng-show="errorMessage !==''">
        {{errorMessage}}
    </div>
    
</form>