<form name="profile" ng-submit="saveProfile()">
	<div>&nbsp;</div>
	<div>&nbsp;</div>
    <h2>&Auml;ndra min profil</h2>
    	<div class="block">
    		<label>Namn:</label>
    	</div>
        <div class="block">            
            <input required ng-model="entity.name"type="text" disabled/>
        </div>
        <div class="block">
        	<label>Tj&auml;nstenummer:</label>
    	</div>
        <div class="block">            
            <input required type="text" ng-model="entity.usercode" disabled />
        </div>
        <div class="block">
        	<label>Roll</label>
    	</div>
        <div class="block">            
            <select ng-model="selectedRole" ng-options="r.name for r in roles" disabled></select>
        </div>
        <div class="block">
        	<label>L&ouml;senord</label>
    	</div>
        <div class="block">            
            <input required name="password" type="password" ng-model="entity.password" ng-pattern="/^[a-zA-Z0-9]{6,12}/"/>
        </div>
    <input type="button" class="btn" value="Avbryt" ng-click="abortProfileUpdate()" />
    <input type="submit" class="btn btn-primary" value="Spara" ng-disabled="profile.password.$error.pattern" />
    <div class="error" ng-show="profile.password.$error.pattern">
        L&ouml;senord m&aring;ste inneh&aring;lla minst 6 tecken!
    </div>
</form>