<div ng-controller="areaController">
    <br>
    <br>
    <h2>Omr&aring;den</h2>
    <em ng-show="areas.length == 0">Inga omr&aring;den registrerade.</em>
    <table ng-hide="areas.length == 0"
           class="table table-striped override-bootstrap">
        <thead>
        <tr>
            <th>Namn</th>
            <th>Kod</th>
        </tr>
        </thead>
        <tr ng-repeat="area in areas">
            <td>{{area.name}}</td>
            <td>{{area.code}}</td>
        </tr>
    </table>
</div>